;------------------------------
;MORE HEALTH FOR END
;------------------------------

modify:
{
	match:
	{
		"targetname" "Airship_End_Breakable2"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnUser1" "!selfSetHealth20001"
	}
	insert:
	{
		"OnUser1" "!selfSetHealth50001"
	}
}

modify:
{
	match:
	{
		"targetname" "Airship_End_Breakable3"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnUser1" "!selfSetHealth20001"
	}
	insert:
	{
		"OnUser1" "!selfSetHealth50001"
	}
}

modify:
{
	match:
	{
		"targetname" "Airship_End_Breakable7"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnUser1" "!selfSetHealth25001"
	}
	insert:
	{
		"OnUser1" "!selfSetHealth60001"
	}
}

;------------------------------
;Fix explode sound
;------------------------------
modify:
{
	match:
	{
		"targetname" "Explosion_Sound"
		"classname" "ambient_generic"
	}
	replace:
	{
		"message" "c4.explode"
		"health" "1"
	}
}
