;------------------------------
;MORE HEALTH FOR END
;------------------------------

modify:
{
	match:
	{
		"targetname" "Airship_End_Breakable2"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnUser1" "!selfSetHealth20001"
	}
	insert:
	{
		"OnUser1" "!selfSetHealth45001"
	}
}

modify:
{
	match:
	{
		"targetname" "Airship_End_Breakable3"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnUser1" "!selfSetHealth20001"
	}
	insert:
	{
		"OnUser1" "!selfSetHealth45001"
	}
}

modify:
{
	match:
	{
		"targetname" "Airship_End_Breakable7"
		"classname" "func_breakable"
	}
	delete:
	{
		"OnUser1" "!selfSetHealth25001"
	}
	insert:
	{
		"OnUser1" "!selfSetHealth55001"
	}
}

;------------------------------
;EZ TO WIN
;------------------------------
modify:
{
	match:
	{
		"targetname" "Belias_Hp_To_Boss"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Boss_Health_InitAdd430-1"
	}
	insert:
	{
		"OnStartTouch" "Boss_Health_InitAdd380-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Guard_Boss_Hp_To_Boss"
		"classname" "trigger_multiple"
	}
	delete:
	{
		"OnStartTouch" "Boss_Health_InitAdd310-1"
	}
	insert:
	{
		"OnStartTouch" "Boss_Health_InitAdd280-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Chaos_Hp_To_Boss"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "Boss_Health_InitAdd200-1"
	}
	insert:
	{
		"OnStartTouch" "Boss_Health_InitAdd170-1"
	}
}

//泡泡雷保护//
add:
{
	"classname" "filter_activator_class"
	"filterclass" "tagrenade_projectile"
	"Negated" "Allow entities that match criteria"
	"targetname" "Filter_tagrenade"
	"origin" "5304 -6016 8072"
}

add:
{
	"model" "*144"
	"classname" "trigger_multiple"
	"filtername" "Filter_tagrenade"
	"origin" "4936 -6016 7872"
	"spawnflags" "1096"
	"StartDisabled" "0"
	"targetname" "nadeprotect"
	"wait" "0.1"
	connections
	{
		"OnStartTouch" "!activatorKill0-1"
	}
}

add:
{
	"origin" "-1902 -6408 -4716"
	"targetname" "item_cdhint_particle_kill"
	"StartDisabled" "0"
	"spawnflags" "0"
	"classname" "logic_relay"
	connections
	{
	"OnTrigger" "Staff_Heal_ParticleKill01"
	"OnTrigger" "Staff_Fire_ParticleKill01"
	"OnTrigger" "Staff_Electro_ParticleKill01"
	"OnTrigger" "Staff_Earth_ParticleKill01"
	"OnTrigger" "Staff_Water_ParticleKill01"
	"OnTrigger" "Staff_Holy_ParticleKill01"
	"OnTrigger" "Cho_RewardKill01" 
	}
}
modify:
{
	match:
	{
		"targetname" "Chaos_Trigger"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnStartTouch" "item_cdhint_particle_killTrigger01"
	}
}

modify:
{
	match:
	{
		"targetname" "Staff_Water_Trigger"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "Map_SpeedModModifySpeed0.14.75-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.14.25-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.13.75-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.13.25-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.12.75-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.12.25-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.11.75-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.11.25-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.10.75-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.10.25-1"
	}
}

//item particle
modify:
{
	match:
	{
		"targetname" "Knife_Lure_Branch"
		"classname" "logic_branch"
	}
	delete:
	{
		"OnTrue" "Knife_Lure_Particle_1Stop0.02-1"
	}
	insert:
	{
		"OnTrue" "Knife_Lure_Particle_1DestroyImmediately0.02-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Knife_Blind_Branch"
		"classname" "logic_branch"
	}
	delete:
	{
		"OnTrue" "Knife_Blind_Particle_1Stop0.02-1"
	}
	insert:
	{
		"OnTrue" "Knife_Blind_Particle_1DestroyImmediately0.02-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Knife_Warp_Branch"
		"classname" "logic_branch"
	}
	delete:
	{
		"OnTrue" "Knife_Warp_Particle_1Stop0.02-1"
	}
	insert:
	{
		"OnTrue" "Knife_Warp_Particle_1DestroyImmediately0.02-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Knife_Invis_Branch"
		"classname" "logic_branch"
	}
	delete:
	{
		"OnTrue" "Knife_Invis_Particle_1Stop0.02-1"
	}
	insert:
	{
		"OnTrue" "Knife_Invis_Particle_1DestroyImmediately0.02-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Knife_Shield_Branch"
		"classname" "logic_branch"
	}
	delete:
	{
		"OnTrue" "Knife_Shield_Particle_1Stop0.02-1"
	}
	insert:
	{
		"OnTrue" "Knife_Shield_Particle_1DestroyImmediately0.02-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Knife_Heal_Branch"
		"classname" "logic_branch"
	}
	delete:
	{
		"OnTrue" "Knife_Heal_Particle_1Stop0.02-1"
	}
	insert:
	{
		"OnTrue" "Knife_Heal_Particle_1DestroyImmediately0.02-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Knife_Fire_Branch"
		"classname" "logic_branch"
	}
	delete:
	{
		"OnTrue" "Knife_Fire_Particle_1Stop0.02-1"
	}
	insert:
	{
		"OnTrue" "Knife_Fire_Particle_1DestroyImmediately0.02-1"
	}
}
modify:
{
	match:
	{
		"targetname" "Knife_Frost_Branch"
		"classname" "logic_branch"
	}
	delete:
	{
		"OnTrue" "Knife_Frost_Particle_1Stop0.02-1"
	}
	insert:
	{
		"OnTrue" "Knife_Frost_Particle_1DestroyImmediately0.02-1"
	}
}

//delete
modify:
{
	match:
	{
		"hammerid" "474819"
		"classname" "logic_auto"
	}
	insert:
	{
		"OnNewGame" "weapon_meleeKill15-1"
		"OnNewGame" "weapon_meleeKill17-1"
		"OnNewGame" "weapon_meleeKill19-1"
		"OnNewGame" "weapon_meleeKill21-1"
		"OnNewGame" "weapon_tagrenadeKill21-1"
		"OnNewGame" "weapon_tagrenadeKill23-1"
		"OnNewGame" "weapon_tagrenadeKill25-1"
	}
}


//fix boss moving damage
add:
{
	"origin" "13277.5 -6400 6319.5"
	"targetname" "bxzl_fix_damage_slowdown"
	"StartDisabled" "0"
	"spawnflags" "0"
	"classname" "logic_relay"
	connections
	{
		"OnUser1" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() - 1).tostring(), 0.0, null, null); }0-1"
		"OnUser1" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() + 1).tostring(), 0.0, null, null); }0.05-1"
	}
}

//stage 1 end fireball
add:
{
	"origin" "-1216 3296 2111.81"
	"targetname" "Fireball_Hurt_reference"
	"spawnflags" "0"
	"classname" "logic_relay"
}
add:
{
	"origin" "-1216 3264 2112"
	"targetname" "Fireball_Hurt_parent_reference"
	"spawnflags" "0"
	"classname" "logic_relay"
}
modify:
{
	match:
	{
		"targetname" "Fireball_Hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"parentname" "Fireball_Move"
	}
	insert:
	{
		"OnHurtPlayer" "bxzl_fix_damage_slowdownFireUser10-1"
	}
}
add:
{
	"origin" "13312 -6400 6298"
	"TargetScale" "1"
	"TargetReference" "Fireball_Hurt_reference"
	"targetname" "Fireball_Hurt_measure"
	"Target" "Fireball_Hurt"
	"MeasureTarget" "Fireball_Move"
	"MeasureReference" "Fireball_Hurt_parent_reference"
	"classname" "logic_measure_movement"
}
modify:
{
	match:
	{
		"targetname" "Fireball_Temp"
		"classname" "point_template"
	}
	insert:
	{
		"Template06" "Fireball_Hurt_measure"
		"Template05" "Fireball_Hurt_reference"
		"Template04" "Fireball_Hurt_parent_reference"
	}
}
modify:
{
	match:
	{
		"targetname" "Fireball_Move"
		"classname" "func_movelinear"
	}
	insert:
	{
		"OnUser2" "Fireball_Hurt_measureKill3.51"
		"OnUser2" "Fireball_Hurt_referenceKill3.51"
		"OnUser2" "Fireball_Hurt_parent_referenceKill3.51"
	}
}

//choc_egg  moving choc hurt
add:
{
	"origin" "-1408 -2416 2078"
	"targetname" "Choc_Hurt_reference"
	"spawnflags" "0"
	"classname" "logic_relay"
}
add:
{
	"origin" "-1408 -2272 2096"
	"targetname" "Choc_Hurt_parent_reference"
	"spawnflags" "0"
	"classname" "logic_relay"
}
modify:
{
	match:
	{
		"targetname" "Choc_Hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"parentname" "Choc_Move"
	}
	insert:
	{
		"OnHurtPlayer" "bxzl_fix_damage_slowdownFireUser10-1"
	}
}
add:
{
	"origin" "-1408 -2272 2096"
	"TargetScale" "1"
	"TargetReference" "Choc_Hurt_reference"
	"targetname" "Choc_Hurt_measure"
	"Target" "Choc_Hurt"
	"MeasureTarget" "Choc_Move"
	"MeasureReference" "Choc_Hurt_parent_reference"
	"classname" "logic_measure_movement"
}
modify:
{
	match:
	{
		"targetname" "Choc_Temp"
		"classname" "point_template"
	}
	insert:
	{
		"Template07" "Choc_Hurt_measure"
		"Template06" "Choc_Hurt_reference"
		"Template05" "Choc_Hurt_parent_reference"
	}
}
modify:
{
	match:
	{
		"targetname" "Choc_Move"
		"classname" "func_movelinear"
	}
	insert:
	{
		"OnFullyOpen" "Choc_Hurt_measureKillHierarchy01"
		"OnFullyOpen" "Choc_HurtKillHierarchy01"
		"OnFullyOpen" "Choc_Hurt_referenceKillHierarchy01"
		"OnFullyOpen" "Choc_Hurt_parent_referenceKillHierarchy01"
	}
}

//stage 3 and stage 4 boss touch hurt
add:
{
	"origin" "13277.5 -6400 6319.5"
	"targetname" "Guard_Boss_Point_Hurt_reference"
	"spawnflags" "0"
	"classname" "logic_relay"
}
add:
{
	"origin" "13312 -6400 6298"
	"targetname" "Guard_Boss_Point_Hurt_parent_reference"
	"spawnflags" "0"
	"classname" "logic_relay"
}
modify:
{
	match:
	{
		"targetname" "Guard_Boss_Point_Hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"parentname" "Guard_Boss_Physbox"
	}
	insert:
	{
		"OnHurtPlayer" "bxzl_fix_damage_slowdownFireUser10-1"
	}
}
add:
{
	"origin" "13312 -6400 6298"
	"TargetScale" "1"
	"TargetReference" "Guard_Boss_Point_Hurt_reference"
	"targetname" "Guard_Boss_Point_Hurt_measure"
	"Target" "Guard_Boss_Point_Hurt"
	"MeasureTarget" "Guard_Boss_Physbox"
	"MeasureReference" "Guard_Boss_Point_Hurt_parent_reference"
	"classname" "logic_measure_movement"
}

//添加禁止隔墙秒杀提示
modify:
{
	match:
	{
		"targetname" "Guard_Boss_Trigger_End"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "CmdCommandsay ** 禁止使用隔墙秒杀(ban for wall warp) **651"
	}
}

//尸变比改为9 8 7 6 14，原本地图自带为10 9 8 7 14。现稍微加难写
modify:
{
	match:
	{
		"targetname" "Level_Case_Stage"
		"classname" "logic_case"
	}
	insert:
	{
		"OnCase01" "CmdCommandsm_cvar zr_infect_mzombie_ratio 901"
		"OnCase02" "CmdCommandsm_cvar zr_infect_mzombie_ratio 801"
		"OnCase03" "CmdCommandsm_cvar zr_infect_mzombie_ratio 701"
		"OnCase04" "CmdCommandsm_cvar zr_infect_mzombie_ratio 601"
		"OnCase05" "CmdCommandsm_cvar zr_infect_mzombie_ratio 1401"
	}
}

// 神器隐身
modify:
{
	match:
	{
		"classname" "weapon_elite"
	}
	insert:
	{
		"OnPlayerPickup" "load_scriptRunscriptcodeSetNewOwner();0-1"
	}
}
add:
{
    "origin" "-9440 -3104 2391"
    "targetname" "load_script"
    "StartDisabled" "0"
    "spawnflags" "0"
    "classname" "logic_relay"
    "vscripts" "why/hide_owner.nut"
    connections
    {
    	"OnSpawn" "!selfRunscriptCodeClearPlayerHide()0-1"
    	"OnSpawn" "!selfRunscriptCodeAUTO_HIDE=true;HIDE_ALPHA=20;0-1"
    }
}
