;--------------------------
;Remove Entities
;--------------------------
filter:
{
	"targetname" "Cosmo_Bar_Physics"
	"classname" "prop_dynamic_override"
}
filter:
{
	"targetname" "Obs_Props"
	"classname" "prop_dynamic_override"
}
filter:
{
	"hammerid" "1838813"
	"classname" "prop_dynamic_override"
}
filter:
{
	"model" "models/props/de_tides/vending_cart.mdl"
	"classname" "prop_dynamic_override"
}
filter:
{
	"model" "models/props/de_tides/patio_table2.mdl"
	"classname" "prop_dynamic_override"
}
filter:
{
	"model" "models/props/de_inferno/claypot01.mdl"
	"classname" "prop_dynamic_override"
}
filter:
{
	"model" "models/props/de_inferno/claypot02.mdl"
	"classname" "prop_dynamic_override"
}
filter:
{
	"model" "models/props/de_inferno/crate_fruit_break.mdl"
	"classname" "prop_dynamic_override"
}
filter:
{
	"model" "models/props/de_tides/tides_sign_a.mdl"
	"classname" "prop_dynamic_override"
}
filter:
{
	"model" "models/props_lab/bigrock.mdl"
	"classname" "prop_dynamic_override"
}
filter:
{
	"model" "models/props_lab/citizenradio.mdl"
	"classname" "prop_dynamic_override"
}


filter:
{
	"targetname" "Cosmo_Bar_Physics"
	"classname" "prop_physics"
}
filter:
{
	"targetname" "House2_Physics"
	"classname" "prop_physics"
}
filter:
{
	"model" "models/props/cs_italy/orange.mdl"
	"classname" "prop_physics"
}
filter:
{
	"model" "models/props/de_inferno/claypot01.mdl"
	"classname" "prop_physics"
}
filter:
{
	"model" "models/props/de_inferno/claypot02.mdl"
	"classname" "prop_physics"
}
filter:
{
	"model" "models/props_c17/oildrum001.mdl"
	"classname" "prop_physics"
}
filter:
{
	"model" "models/props_c17/woodbarrel001.mdl"
	"classname" "prop_physics"
}
filter:
{
	"model" "models/props_junk/garbage_takeoutcarton001a.mdl"
	"classname" "prop_physics"
}
filter:
{
	"model" "models/props_junk/glassbottle01a.mdl"
	"classname" "prop_physics"
}
filter:
{
	"model" "models/props_junk/watermelon01.mdl"
	"classname" "prop_physics"
}

filter:
{
	"targetname" "Vent_Rot"
	"classname" "func_rotating"
}
filter:
{
	"hammerid" "318109"
	"classname" "prop_dynamic"
}
modify:
{
	match:
	{
		"targetname" "Ifrit_Fire_Hurt"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"OnHurtPlayer" "filter_triggerhurt_noFireUser10-1"
	}
}
