modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"hammerid" "203000"
	}
	delete:
	{
		"filtername" "tonly"
	}
}

;delay zombie tp in mammoth stage(10s→20s)
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-3680 -1152 12720"
	}
	delete:
	{
		"OnStartTouch" "mammothzmtele2Enable50-1"
	}
	insert:
	{
		"OnStartTouch" "mammothzmtele2Enable60-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "1792 -1024 11120"
	}
	delete:
	{
		"OnStartTouch" "mammothzmtele2Enable50-1"
	}
	insert:
	{
		"OnStartTouch" "mammothzmtele2Enable60-1"
	}
}

;fix mammothbossdoor 
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "-1472 10112 12080"
	}
	delete:
	{
		"OnStartTouch" "mammothbossdoorClose251"
		"OnStartTouch" "mammothbossdoorClose251"
	}
	insert:
	{
		"OnStartTouch" "mammothcommandsCommandsay **BOSS DOOR WILL OPEN IN 20 SEC**01"
		"OnStartTouch" "mammothbossdoorClose351"
		"OnStartTouch" "mammothbossdoorClose351"
		"OnStartTouch" "mammothcommandsCommandsay **BOSS FIGHT IN 7 SEC**361"
	}
}
