modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "relay_stage3"
	}
	delete:
	{
		"OnTrigger" "nrk_gametext_3AddOutputmessage >>> STAGE III : THE UNDERGROUND PRISON <<<12.5-1"
	}
	insert:
	{
		"OnTrigger" "nrk_gametext_3AddOutputmessage >>> 第三章 地下监狱 <<<12.5-1"
	}
}

modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "nrk3_final_counter"
	}
	delete:
	{
		"OnHitMin" "nrk_gametext_2AddOutputmessage ## STAGE IV : TO BE CONTINUED ###3.051"
	}
	insert:
	{
		"OnHitMin" "nrk_gametext_2AddOutputmessage ## 第四章 正在制作ing... 尽情期待 ###3.051"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "relay_stage2"
	}
	delete:
	{
		"OnTrigger" "nrk_gametext_2AddOutputmessage >>> STAGE II : THE CITY OF THE DEAD <<<12.5-1"
	}
	insert:
	{
		"OnTrigger" "nrk_gametext_2AddOutputmessage >>> 第二章 死亡之城 <<<12.5-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "relay_stage1"
	}
	delete:
	{
		"OnTrigger" "nrk_gametext_2AddOutputmessage >>> STAGE I : THE UNDERWORLD <<<12.5-1"
	}
	insert:
	{
		"OnTrigger" "nrk_gametext_2AddOutputmessage >>> 第一章 地下世界 <<<12.5-1"
	}
}

modify:
{
	match:
	{
		"classname" "game_text"
		"targetname" "nrk_gametext_2"
	}
	replace:
	{
		"message" "虚无古墓(ze_nameless_necropolis) 地图作者：NARAKA 翻译：血色的龙琉璃"
	}
}

modify:
{
	match:
	{
		"classname" "ambient_generic"
	}
	replace:
	{
		"health" "2"
	}
}

;fix invisible fire
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "relay_stage2"
	}
	delete:
	{
		"OnTrigger" "nrk2_fireStartFire0.03-1"
	}
	insert:
	{
		"OnTrigger" "nrk2_fireStartFire5.00-1"
	}
}

;only show msg once
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "nrk4_miniboss_attack"
	}
	delete:
	{
		"OnStartTouch" "ConsoleCommandsay ### BLOOD SEEKER IS HEALING THE BOSS ##0-1"
	}
	insert:
	{
		"OnStartTouch" "ConsoleCommandsay ### BLOOD SEEKER IS HEALING THE BOSS ##01"
	}
}

;fix output targeting
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "nrk3_skyhell_iterations"
	}
	delete:
	{
		"OnHitMin" "nrk4_miniboss_hitbox_*Break1.5-1"
	}
	insert:
	{
		"OnHitMin" "nrk4_miniboss_hitbox*Break1.5-1"
	}
}
