
modify:
{
	match:
	{
		"targetname" "fire_hurt"
		"classname" "trigger_hurt"
	}
	delete:
	{
		"OnHurtPlayer" "speedmodModifySpeed0.255-1"
	}
	insert:
	{
		"OnHurtPlayer" "speedmodModifySpeed0.100-1"
 		"OnHurtPlayer" "speedmodModifySpeed0.100.1-1"
		"OnHurtPlayer" "speedmodModifySpeed0.100.2-1"
		"OnHurtPlayer" "speedmodModifySpeed0.100.3-1"
		"OnHurtPlayer" "speedmodModifySpeed0.100.4-1"
		"OnHurtPlayer" "speedmodModifySpeed0.100.5-1"
		"OnHurtPlayer" "speedmodModifySpeed0.100.6-1"
		"OnHurtPlayer" "speedmodModifySpeed0.100.7-1"
		"OnHurtPlayer" "speedmodModifySpeed0.100.8-1"
		"OnHurtPlayer" "speedmodModifySpeed0.100.9-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.0-1"
 		"OnHurtPlayer" "speedmodModifySpeed0.101.1-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.2-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.3-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.4-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.5-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.6-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.7-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.8-1"
		"OnHurtPlayer" "speedmodModifySpeed0.101.9-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.0-1"
 		"OnHurtPlayer" "speedmodModifySpeed0.102.1-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.2-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.3-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.4-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.5-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.6-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.7-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.8-1"
		"OnHurtPlayer" "speedmodModifySpeed0.102.9-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.0-1"
 		"OnHurtPlayer" "speedmodModifySpeed0.103.1-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.2-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.3-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.4-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.5-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.6-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.7-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.8-1"
		"OnHurtPlayer" "speedmodModifySpeed0.103.9-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.0-1"
 		"OnHurtPlayer" "speedmodModifySpeed0.104.1-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.2-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.3-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.4-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.5-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.6-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.7-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.8-1"
		"OnHurtPlayer" "speedmodModifySpeed0.104.9-1"
		"OnHurtPlayer" "speedmodModifySpeed0.105.0-1"
	}
}

modify:
{
	match:
	{
		"origin" "11264 -14768 416"
		"classname" "trigger_multiple"
	}
	insert:
	{
		"OnStartTouch" "!activatorAddOutputtargetname father0.1-1"
	}
}
	
modify:
{
	match:
	{
		"origin" "-3167.97 -8992.04 60"
		"classname" "func_button"
	}
	insert:
	{
		"OnPressed" "serverCommandsay ***WAIT GREEN LIGHT 10 SECOND ***21"
	}
}
	
modify:
{
	match:
	{
		"targetname" "kakfilt"
		"classname" "filter_activator_team"
	}
	insert:
	{
		"OnPass" "poodle_boy*FireUser131"
	}
}

filter:
{
		"targetname" "pizzaflash_glow"
		"classname" "env_sprite"
}

modify:
{
      match:
           {
           "hammerid" "79617"
           "origin" "3054.98 9936.95 6430"
           "targetname" "trap_cliffrope_lever"
           "classname" "func_door"
           }
     replace:
           {
           "spawnflags" "12"
           "targetname" "trap_cliffrope_lever_c4"
           }
}

add:
{
    "model" "*149"
    "wait" "-1"
    "unlocked_sound" "0"
    "unlocked_sentence" "0"
    "targetname" "c4_button"
    "speed" "5"
    "spawnflags" "1025"
    "sounds" "0"
    "rendermode" "0"
    "renderfx" "0"
    "rendercolor" "255 255 255"
    "renderamt" "255"
    "origin" "3055 9936 6433"
    "movedir" "0 0 0"
    "min_use_angle" "0.8"
    "locked_sound" "0"
    "locked_sentence" "0"
    "lip" "0"
    "health" "0"
    "fadescale" "1"
    "fademindist" "-1"
    "fademaxdist" "0"
    "disablereceiveshadows" "0"
    "classname" "func_button"
    connections
    {
    "OnPressed" "trap_cliffrope_lever_c4Open01"
    "OnPressed" "!selfKill0.11"
    }
}

;ambient_generic stack.
filter:
{
	"classname" "ambient_generic"
	"hammerid" "217673"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "8785"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "8833"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "141798"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "141816"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86393"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86589"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86595"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86639"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86742"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86745"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86754"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86760"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "86763"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "92209"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "92237"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "92243"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "92249"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "204461"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "204464"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "204366"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "204369"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "228483"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "26059"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "26062"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "62918"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "63166"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "63187"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "63193"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "172687"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "172693"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "172575"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "145978"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "145984"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "22799"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "22802"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "9651"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "9734"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "10773"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "218922"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "220103"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "220106"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "218722"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "198513"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "112581"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "112596"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "8932"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37446"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37464"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37470"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37479"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37893"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37942"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37945"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "53566"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "53569"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "53572"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "53602"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "53605"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "53608"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "60175"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "60224"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "6267"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "62694"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "36661"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "36664"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37824"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "38198"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "38210"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "38095"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "38201"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "38213"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "129749"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "129752"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "129761"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "38113"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "38204"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37848"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "37869"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "22149"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "22170"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "22173"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "22176"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "166063"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "27256"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "27274"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "136751"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "136754"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "65614"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "65617"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "59375"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "59378"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "50576"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "50579"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "79602"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "79614"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "79872"
}

filter:
{
	"classname" "ambient_generic"
	"hammerid" "79875"
}

;Obnoxious brightness in map toned down.
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "tonemap,SetAutoExposureMax,1,0,-1"
		"OnMapSpawn" "tonemap,SetAutoExposureMin,.5,0,-1"
		"OnMapSpawn" "tonemap,SetBloomScale,1.5,4,-1"
		"OnMapSpawn" "env_fire,StartFire,,2,-1"
	}
}

;env_fire renders.
modify:
{
	match:
	{
		"classname" "env_fire"
	}
	replace:
	{
		"spawnflags" "11"
	}
}
