;Three eyes v0_3 final balance stripper by Lv. 100 Crobat
;This stripper reduces the green boss hp gained by 75hp per human and increases the hp of the final lasers boss by 75 per human
 
modify:
{
    match:
    {
        "targetname" "L4_WhiteEyes_AddHP"
        "classname" "trigger_multiple"
        "hammerid" "220198"
        "origin" "10504 -3040 12056"
    }
    delete:
    {
        "OnStartTouch" "L4_WhiteEyes_HPAdd500-1"
    }
    insert:
    {
        "OnStartTouch" "L4_WhiteEyes_HPAdd750-1"
    }
}
modify:
{
    match:
    {
        "targetname" "L4_GreenEyes_Teleport"
        "classname" "trigger_teleport"
        "hammerid" "191833"
        "origin" "9856 6272 8116"
    }
    delete:
    {
        "OnStartTouch" "L2_GreenEyes_HPAdd1000-1"
    }
    insert:
    {
        "OnStartTouch" "L2_GreenEyes_HPAdd750-1"
    }
}
