//优化皮肤击退//
;troll


modify:
{
	match:
	{
		"targetname" "troll_phbox"
		"classname" "func_physbox_multiplayer"
	}
	delete:
	{
   		"OnDamaged" "troll_pushDisable0.01-1"
		"OnDamaged" "troll_pushEnable0-1"
  		"OnDamaged" "troll_push2Disable0.01-1"
		"OnDamaged" "troll_push2Enable0-1"
  		"OnDamaged" "troll_push3Disable0.01-1"
		"OnDamaged" "troll_push3Enable0-1"
  		"OnDamaged" "troll_push4Disable0.01-1"
		"OnDamaged" "troll_push4Enable0-1"
	}
	insert:
	{
		"vscripts" "koyo/skinpush.nut"
   		"OnDamaged" "!selfRunScriptCodepush();0-1"
	}
}

filter:
{
	"targetname" "troll_push.*"
	"classname" "trigger_push"
}

modify:
{
	match:
	{
		"targetname" "troll_knife"
		"classname" "weapon_knife"
	}
	insert:
	{
   		"OnPlayerPickup" "troll_phboxrunscriptcodetarget()01"
		"OnPlayerPickup" "troll_pushkill01"
		"OnPlayerPickup" "troll_push2kill01"
		"OnPlayerPickup" "troll_push3kill01"
		"OnPlayerPickup" "troll_push4kill01"
	}
}
;ww


modify:
{
	match:
	{
		"targetname" "ww_phbox"
		"classname" "func_physbox_multiplayer"
	}
	delete:
	{
   		"OnDamaged" "ww_pushDisable0.01-1"
		"OnDamaged" "ww_pushEnable0-1"
  		"OnDamaged" "ww_push2Disable0.01-1"
		"OnDamaged" "ww_push2Enable0-1"
  		"OnDamaged" "ww_push3Disable0.01-1"
		"OnDamaged" "ww_push3Enable0-1"
  		"OnDamaged" "ww_push4Disable0.01-1"
		"OnDamaged" "ww_push4Enable0-1"
	}
	insert:
	{
		"vscripts" "koyo/skinpush.nut"
   		"OnDamaged" "!selfRunScriptCodepush();0-1"
	}
}

filter:
{
	"targetname" "ww_push.*"
	"classname" "trigger_push"
}

modify:
{
	match:
	{
		"targetname" "ww_knife"
		"classname" "weapon_knife"
	}
	insert:
	{
   		"OnPlayerPickup" "ww_phboxrunscriptcodetarget()01"
		"OnPlayerPickup" "ww_pushkill01"
		"OnPlayerPickup" "ww_push2kill01"
		"OnPlayerPickup" "ww_push3kill01"
		"OnPlayerPickup" "ww_push4kill01"
	}
}
;giant

modify:
{
	match:
	{
		"targetname" "giant_phbox"
		"classname" "func_physbox_multiplayer"
	}
	delete:
	{
   		"OnDamaged" "giant_pushDisable0.01-1"
		"OnDamaged" "giant_pushEnable0-1"
  		"OnDamaged" "giant_push2Disable0.01-1"
		"OnDamaged" "giant_push2Enable0-1"
  		"OnDamaged" "giant_push3Disable0.01-1"
		"OnDamaged" "giant_push3Enable0-1"
  		"OnDamaged" "giant_push4Disable0.01-1"
		"OnDamaged" "giant_push4Enable0-1"
	}
	insert:
	{
		"vscripts" "koyo/skinpush.nut"
   		"OnDamaged" "!selfRunScriptCodepush();0-1"
	}
}

filter:
{
	"targetname" "giant_push.*"
	"classname" "trigger_push"
}

modify:
{
	match:
	{
		"targetname" "giant_knife"
		"classname" "weapon_knife"
	}
	insert:
	{
   		"OnPlayerPickup" "giant_phboxrunscriptcodetarget()01"
		"OnPlayerPickup" "giant_pushkill01"
		"OnPlayerPickup" "giant_push2kill01"
		"OnPlayerPickup" "giant_push3kill01"
		"OnPlayerPickup" "giant_push4kill01"
		

	}
}








;
;Fix stage4 nuke origin
;
modify:
{
	match:
	{
		"targetname" "stage_4_nuke"
		"classname" "trigger_hurt"
	}
	replace:
	{
   		 "origin" "-8768 7864 2840.18"
	}
}
//decrease the speed of dp item push
modify:
{
	match:
	{
		"hammerid" "6764"
		"origin" "5556 -8944 2697.41"
		"classname" "trigger_push"
	}
	replace:
	{
   		 "speed" "500"
	}
}

//冰大卫减速分段
modify:
{
        match:
        {
        "targetname" "hurt_doh3"
        "classname" "trigger_hurt"
        }
        insert:
        {
        "OnHurtPlayer" "speedmodModifySpeed1.071.0-1"
        "OnHurtPlayer" "speedmodModifySpeed00.8-1"
        "OnHurtPlayer" "speedmodModifySpeed00.6-1"
        "OnHurtPlayer" "speedmodModifySpeed00.4-1"
        "OnHurtPlayer" "speedmodModifySpeed00.2-1"
        "OnHurtPlayer" "speedmodModifySpeed00-1
        }
}
modify:
{
        match:
        {
        "targetname" "freeze_shout"
        "classname" "trigger_multiple"
        }
        insert:
        {
        "OnStartTouch" "speedmodModifySpeed1.075.0-1"
        "OnStartTouch" "speedmodModifySpeed0.34.8-1"
        "OnStartTouch" "speedmodModifySpeed0.34.6-1"
        "OnStartTouch" "speedmodModifySpeed0.34.4-1"
        "OnStartTouch" "speedmodModifySpeed0.34.2-1"
        "OnStartTouch" "speedmodModifySpeed0.34.0-1"
        "OnStartTouch" "speedmodModifySpeed0.33.8-1"
        "OnStartTouch" "speedmodModifySpeed0.33.6-1"
        "OnStartTouch" "speedmodModifySpeed03.4-1"
        "OnStartTouch" "speedmodModifySpeed03.2-1"
        "OnStartTouch" "speedmodModifySpeed03.0-1"
        "OnStartTouch" "speedmodModifySpeed02.8-1"
        "OnStartTouch" "speedmodModifySpeed02.6-1"
        "OnStartTouch" "speedmodModifySpeed02.4-1"
        "OnStartTouch" "speedmodModifySpeed02.2-1"
        "OnStartTouch" "speedmodModifySpeed02.0-1"
        "OnStartTouch" "speedmodModifySpeed01.8-1"
        "OnStartTouch" "speedmodModifySpeed01.6-1"
        "OnStartTouch" "speedmodModifySpeed01.4-1"
        "OnStartTouch" "speedmodModifySpeed01.2-1"
        "OnStartTouch" "speedmodModifySpeed01.0-1"
        "OnStartTouch" "speedmodModifySpeed00.8-1"
        "OnStartTouch" "speedmodModifySpeed00.6-1"
        "OnStartTouch" "speedmodModifySpeed00.4-1"
        "OnStartTouch" "speedmodModifySpeed00.2-1"
        "OnStartTouch" "speedmodModifySpeed00-1
        }
}

//火大卫减速分段
modify:
{
        match:
        {
        "targetname" "fire_shout"
        "classname" "trigger_hurt"
        }
        insert:
        {
        "OnHurtPlayer" "speedmodModifySpeed1.073.0-1"
        "OnHurtPlayer" "speedmodModifySpeed0.62.8-1"
        "OnHurtPlayer" "speedmodModifySpeed0.62.6-1"
        "OnHurtPlayer" "speedmodModifySpeed0.62.4-1"
        "OnHurtPlayer" "speedmodModifySpeed0.62.2-1"
        "OnHurtPlayer" "speedmodModifySpeed0.62.0-1"
        "OnHurtPlayer" "speedmodModifySpeed0.61.8-1"
        "OnHurtPlayer" "speedmodModifySpeed0.61.6-1"
        "OnHurtPlayer" "speedmodModifySpeed0.61.4-1"
        "OnHurtPlayer" "speedmodModifySpeed0.61.2-1"
        "OnHurtPlayer" "speedmodModifySpeed0.61.0-1"
        "OnHurtPlayer" "speedmodModifySpeed0.60.8-1"
        "OnHurtPlayer" "speedmodModifySpeed0.60.6-1"
        "OnHurtPlayer" "speedmodModifySpeed0.60.4-1"
        "OnHurtPlayer" "speedmodModifySpeed0.60.2-1"
        "OnHurtPlayer" "speedmodModifySpeed0.60-1
        }
}

//大法减速分段
modify:
{
        match:
        {
        "targetname" "archmage_ulti"
        "classname" "trigger_hurt"
        }
        insert:
        {
        "OnStartTouch" "speedmodModifySpeed1.075.0-1"
        "OnStartTouch" "speedmodModifySpeed0.44.8-1"
        "OnStartTouch" "speedmodModifySpeed0.44.6-1"
        "OnStartTouch" "speedmodModifySpeed0.44.4-1"
        "OnStartTouch" "speedmodModifySpeed0.44.2-1"
        "OnStartTouch" "speedmodModifySpeed0.44.0-1"
        "OnStartTouch" "speedmodModifySpeed0.43.8-1"
        "OnStartTouch" "speedmodModifySpeed0.43.6-1"
        "OnStartTouch" "speedmodModifySpeed0.43.4-1"
        "OnStartTouch" "speedmodModifySpeed0.43.2-1"
        "OnStartTouch" "speedmodModifySpeed0.43.0-1"
        "OnStartTouch" "speedmodModifySpeed0.42.8-1"
        "OnStartTouch" "speedmodModifySpeed0.42.6-1"
        "OnStartTouch" "speedmodModifySpeed0.42.4-1"
        "OnStartTouch" "speedmodModifySpeed0.42.2-1"
        "OnStartTouch" "speedmodModifySpeed0.42.0-1"
        "OnStartTouch" "speedmodModifySpeed0.41.8-1"
        "OnStartTouch" "speedmodModifySpeed0.41.6-1"
        "OnStartTouch" "speedmodModifySpeed0.41.4-1"
        "OnStartTouch" "speedmodModifySpeed0.41.2-1"
        "OnStartTouch" "speedmodModifySpeed0.41.0-1"
        "OnStartTouch" "speedmodModifySpeed0.40.8-1"
        "OnStartTouch" "speedmodModifySpeed0.40.6-1"
        "OnStartTouch" "speedmodModifySpeed0.40.4-1"
        "OnStartTouch" "speedmodModifySpeed0.40.2-1"
        "OnStartTouch" "speedmodModifySpeed0.40-1
        }
}

//冰杖减速分段
modify:
{
        match:
        {
        "targetname" "special_1_freeze"
        "classname" "trigger_multiple"
        }
        insert:
        {
        "OnStartTouch" "speedmodModifySpeed1.085.0-1"
        "OnStartTouch" "speedmodModifySpeed0.14.8-1"
        "OnStartTouch" "speedmodModifySpeed0.14.6-1"
        "OnStartTouch" "speedmodModifySpeed0.14.4-1"
        "OnStartTouch" "speedmodModifySpeed0.14.2-1"
        "OnStartTouch" "speedmodModifySpeed0.14.0-1"
        "OnStartTouch" "speedmodModifySpeed0.13.8-1"
        "OnStartTouch" "speedmodModifySpeed0.13.6-1"
        "OnStartTouch" "speedmodModifySpeed0.13.4-1"
        "OnStartTouch" "speedmodModifySpeed0.13.2-1"
        "OnStartTouch" "speedmodModifySpeed0.13.0-1"
        "OnStartTouch" "speedmodModifySpeed0.12.8-1"
        "OnStartTouch" "speedmodModifySpeed0.12.6-1"
        "OnStartTouch" "speedmodModifySpeed0.12.4-1"
        "OnStartTouch" "speedmodModifySpeed0.12.2-1"
        "OnStartTouch" "speedmodModifySpeed0.12.0-1"
        "OnStartTouch" "speedmodModifySpeed0.11.8-1"
        "OnStartTouch" "speedmodModifySpeed0.11.6-1"
        "OnStartTouch" "speedmodModifySpeed0.11.4-1"
        "OnStartTouch" "speedmodModifySpeed0.11.2-1"
        "OnStartTouch" "speedmodModifySpeed0.11.0-1"
        "OnStartTouch" "speedmodModifySpeed0.10.8-1"
        "OnStartTouch" "speedmodModifySpeed0.10.6-1"
        "OnStartTouch" "speedmodModifySpeed0.10.4-1"
        "OnStartTouch" "speedmodModifySpeed0.10.2-1"
        "OnStartTouch" "speedmodModifySpeed0.10-1
        }
}

//DP大招自我定身
modify:
{
        match:
        {
        "targetname" "dragon_nuke_stop"
        "classname" "trigger_multiple"
        }
        insert:
        {
        "OnStartTouch" "speedmodModifySpeed14.0-1"
        "OnStartTouch" "speedmodModifySpeed03.8-1"
        "OnStartTouch" "speedmodModifySpeed03.6-1"
        "OnStartTouch" "speedmodModifySpeed03.4-1"
        "OnStartTouch" "speedmodModifySpeed03.2-1"
        "OnStartTouch" "speedmodModifySpeed03.0-1"
        "OnStartTouch" "speedmodModifySpeed02.8-1"
        "OnStartTouch" "speedmodModifySpeed02.6-1"
        "OnStartTouch" "speedmodModifySpeed02.4-1"
        "OnStartTouch" "speedmodModifySpeed02.2-1"
        "OnStartTouch" "speedmodModifySpeed02.0-1"
        "OnStartTouch" "speedmodModifySpeed01.8-1"
        "OnStartTouch" "speedmodModifySpeed01.6-1"
        "OnStartTouch" "speedmodModifySpeed01.4-1"
        "OnStartTouch" "speedmodModifySpeed01.2-1"
        "OnStartTouch" "speedmodModifySpeed01.0-1"
        "OnStartTouch" "speedmodModifySpeed00.8-1"
        "OnStartTouch" "speedmodModifySpeed00.6-1"
        "OnStartTouch" "speedmodModifySpeed00.4-1"
        "OnStartTouch" "speedmodModifySpeed00.2-1"
        "OnStartTouch" "speedmodModifySpeed00-1
        }
}

add:
{
	"origin" "-11264 7702.93 4424"
	"targetname" "script_spawn"
	"StartDisabled" "0"
	"spawnflags" "0"
	"classname" "logic_relay"
	connections
	{
	"OnSpawn" "!selfRunScriptCode::FireUser1 <-'F'.tochar()+'i'.tochar()+'r'.tochar()+'e'.tochar()+'U'.tochar()+'s'.tochar()+'e'.tochar()+'r'.tochar()+10-1"
	"OnSpawn" "!selfRunScriptCode::efbh <- function(E1){EntFireByHandle(E1,FireUser1,' '.tochar(),0.0,null,null)}0.05-1"
	"OnSpawn" "!selfRunScriptCode::filterHolderNoIn <- function(E2,E3){if(E2.GetMoveParent().GetOwner()==E3)efbh(E2)}0.1-1"
	}
}

//heal
modify:
{
	match:
		{
		"targetname" "heal_button"
		"classname" "func_button"
		}
	replace:
		{
		"wait" "0.1"
		}
}
modify:
{
	match:
		{
		"targetname" "heal_button"
		"classname" "func_button"
		}
	insert:
		{
		"vscripts" "test.nut"
		}
}
modify:
{
	match:
		{
		"targetname" "heal_button"
		"classname" "func_button"
		}
	delete:
		{
		"OnPressed" "heal_counterAdd10-1"
		"OnPressed" "heal_relayTrigger0-1"
		}
	insert:
		{
		"OnPressed" "!selfRunScriptCodefilterHolderNoIn(self,activator)0-1"
		"OnUser1" "heal_counterAdd10-1"
		"OnUser1" "heal_relayTrigger0-1"
		"OnUser1" "!selfLock0-1"
		"OnUser1" "!selfUnlock20-1"
		}
}

//elder
modify:
{
	match:
		{
		"targetname" "elder_1_wep"
		"classname" "weapon_elite"
		}
	delete:
		{
		"OnPlayerPickup" "!activatorAddOutputOnUser1 ScrollTrigger:Trigger::0:10-1"
		}
}
modify:
{
	match:
		{
		"targetname" "elder_1_button"
		"classname" "func_button"
		}
	insert:
		{
		"vscripts" "test.nut"
		}
}
modify:
{
	match:
		{
		"targetname" "elder_1_button"
		"classname" "func_button"
		}
	delete:
		{
		"OnPressed" "!activatorFireUser10-1"
		}
	insert:
		{
		"OnPressed" "!selfRunScriptCodefilterHolderNoIn(self,activator)0-1"
		"OnUser1" "ScrollTriggerTrigger0-1"
		"OnUser1" "!selfLock0-1"
		}
}

//remove vote stage. 
//and after stage 5 , all players get 400 scores
modify:
{
	match:
		{
		"targetname" "hall_end_trigger"
		"classname" "logic_relay"
		}
	delete:
		{
		"OnTrigger" "stage_5_brushEnable01"
		"OnTrigger" "stage_vote_brushDisable01"
		}
	insert:
		{
		"OnTrigger" "playerAddOutputtargetname 40-1"
		"OnTrigger" "playerAddOutputtargetname 40.5-1"
		"OnTrigger" "playerAddOutputtargetname 41-1"
		}
}
//修复dp裸的时候被杀死（裸后0~4s内）后人类原地不动问题
modify:
{
	match:
		{
		"targetname" "dr_nuke2"
		"classname" "trigger_multiple"
		}
	insert:	
		{
		"OnStartTouch" "speedmodModifySpeed15-1"
		}
}
